
.center_content.welcome
  %h1 Welcome to Learn Words
  %p 
    Every wish you could keep track of all the words you learned a single place where you refresh your memory.
    With Learn Words all the words you learn will be tracked along with statistical analyzes.

  %h2 What does it Cost
  %p Learn Words is completely free. No charge at all.


  %h2 Still under Development
  %p 
    Learn Words is still under development and still need much work.
    I am constantly working on improving the site and a app is to come in the
    future.

  %h2 Upcoming feature 0.0.1
  %ul.list
    %li will improve style of form to add new word
    %li will add charts to stat page
    %li will add user accounts
    %li will correct spelling errors

