
.center_content.welcome
  %h1 Welcome to Learn Words
  %p 
    Every wish you could keep track of all the words you learned a single place where you refresh your memory.
    With Learn Words all the words you learn will be tracked along with statistical analyzes.


  %h2 Still under Development
  %p 
    Learn Words is still under development and still need much work.
    I am constantly working on improving the site and a app is to come in the
    future.

  %h2 Upcoming feature 0.0.1
  %ul.list
    %li adding json endpoints
    %li will add notfication system
    %li will add footer
    %li add better styling to buttons
    %li will add charts to stat page
    %li will add user accounts
    %li will correct spelling errors

  %h2 features added
  %ul.list
    %li added stats charts grouped by date only
    %li added date to word entry
    %li improved definition fetching libary (still needs work)
    %li added loved and unloved feature
    %li added diffrent sort methods
    %li added word count
    %li added better button colors
