%html
  %head
    %meta

  %body
    %nav
      %h1 Wordy
      %ul
        %li <a href="/">Home</a> 
        %li <a href="/words">Word Wall</a>
        %li <a href="/words/new">New Word</a>
        %li <a href="/words/stats">Stats</a>
    = yield
