%html
  %head 
    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}          
    %script{:type => "text/javascript", :src => "/js/chartkick.js"}
      
    %link{:href => "https://fonts.googleapis.com/css?family=Aleo", :rel => "stylesheet"} 
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons",
    :rel=>"stylesheet"}
    %link{:href => "/css/app.css", :type =>"text/css", :rel => "stylesheet"}
  %body
    %nav
      %ul
        %li#title Learn Words
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "/words"} Words 
        %li
          %a{:href => "/words/new"} New
        %li
          %a{:href => "/words/stats"} Stats
    %div
      =yield

    %footer
      %a{:href => "https://github.com/bry02g/words_learned"}
        %img{:src => "/images/GitHub-Mark/PNG/GitHub-Mark-32px.png"}
